body {
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    text-align: center;
}

.main-content {
    border: 3px solid blue;
    margin-left: 2rem;
    margin-right: 2rem;
    overflow-x: auto;
}

.content-row {
    display: grid;
    grid-template-columns: 50px minmax(10rem, 1.5fr) minmax(10rem, 1.5fr) minmax(8rem, 1fr) minmax(8rem, 1fr) minmax(12rem, 1.5fr) 7rem 8rem;
    align-items: center;
    min-width: 70rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    margin: 3rem;
}

.content-cell {
    display: grid;
    min-width: 0;
    text-align: center;
    justify-content: center;
    padding: 0.75rem;
}

.status-circle {
    height: 50px;
    width: 50px;
}
